<h1>Have all your spectacular questions answered here!</h1>

<ul>
  {{#each model.question as |question|}}
      {{question-tile question=question }}
    {{/each}}
</ul>

{{new-question save2="save3"}}

{{outlet}}
