<h1>Have all your spectacular questions answered here!</h1>

<ul>
  {{#each model as |question|}}
      {{question-tile question=question destroyQuestion="destroyQuestion"}}
    {{/each}}
</ul>

{{new-question save2="save3"}}

{{outlet}}
